<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a simple app that tell you the weather at the location you search for</p>
        <p>The app uses mapbox api for geocoding and weatherstack api for weather forecast data.</p>
    </div>
</body>
</html>